*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(6 31 47);
    /* background: linear-gradient(to right, rgb(0, 20, 34) 0%, rgb(35, 73, 97) 100%); */
}
/* 
.display-none{
    display: none;
}
.display-block{
    display: block;
} */


.hamburger{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* margin-top: 20px; */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(51, 212, 233, 0.253);
    position: relative;
    /* top: 30px;
    right: 30px; */
}

.navbar2{
    display: none ;
    background-color: rgba(0, 0, 0, 0.507);
    /* justify-content: end;
    display: flex; */
    /* text-align: right; */
    z-index: 10;
    height: 10vh;
    padding: 14px;
    
}

.hamburger:hover{
    background-color: rgba(127, 255, 212, 0.267);
}


::-webkit-scrollbar {
    width: 4px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #01545f00; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #033d94;
    border-radius: 6px;
  }
  
 
  ::-webkit-scrollbar-thumb:active {
    background: #666;
  }
  






.navbar
{
    
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: end;
    display: grid;
    z-index: 10;
    grid-template-columns: 1fr 5fr;
    /* box-shadow: 10px 2px 20px black; */
}

.slidetop{
    animation-name: slidetop;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes slidetop {
    0%{
        transform: translateY(-10vw);
       
    }
    100%{
        transform: translateY(0vw);
    }
}

.ul{
    margin-right: 60px;
    display: flex;
    justify-content: end;
     
}

.ul li
{
    list-style: none;
    margin: 10px;
}
.ul li a
{
    text-decoration: none;
    color: white;
}
.ul li a:hover{
    transition: 0.35s;
    color: rgb(2, 135, 212);
}

.container
{
    padding: 30px;
    display: grid;
    font-size: larger;
    grid-template-columns: 1fr;
    height: 85vh;
    /* margin-top: 20px; */
   
}

 hr
{
    border: 0;
    margin: 0 200px 0 200px;
    height: 2px;
    background-color: rgb(9, 108, 133);
}

.left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 76%;
    padding: 40px;
    animation: slide 0.8s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
    
}


.right
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: xxx-large;
    color: white;
}

.name{
    color: rgb(0, 132, 255);
    
    font-weight: bolder;
}

#name{
    animation: slidedown 0.5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}
.prof{
    /* margin-top: 20px; */
    color: rgb(107, 208, 255);
}
.desc{
    margin-top: 20px;
    color: white;
}


.namediv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 132, 255);
    font-weight: bolder;
}

.btns
{
    margin-top: 20px;
}

.btn
{
    padding: 8px;
    border-radius: 7px;
    border: solid 3px #1568bd;
    font-size: large;
    width: 10vw;
    color: white;
    background-color: transparent;
}
.red{
    margin-left: 10px;
    border: solid 3px #ff015f;
    
}
.red:hover{
    background-color: #ff015f !important;
    color: white !important;
}

.btn:hover{
    background-color: #1568bd;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.img
{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-top: 30px;
}

.about
{
    margin: 10vh;
    /* margin-top: 20vh; */
    /* margin-top: 20px; */
    border-left: solid 2px rgb(9, 108, 133);
    border-top: solid 2px rgb(9, 108, 133);
    padding: 20px;
    /* border-radius: 10px; */

}

.header
{
    color: white;
    text-align: end;
}
.about h5
{
    text-align: end;
}

.aboutmain
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 50px;
}
.details
{
    margin: 10px;
    padding: 20px;
    font-size: x-large;
}
.listitems
{
    color: white;
    font-weight: bolder;
    overflow-wrap: anywhere;
}

.skill
{
    display: grid;
    border-top: none !important;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.headings
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 170px; */
    align-items: center;
}

.skills
{
    background-color: rgb(255 255 255 / 11%);
    padding: 20px;
}

.skills:hover
{
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.4s;
}

#html
{
    height: 40px;
    width: 90px;
}

.logos
{
    height: 40px;
    width: 40px;
}


#head
{
    text-align: center;
    font-size: xx-large;
}
.portfolio
{
    display: flex;
    flex-direction: column;
}

.port_main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px;
}

.cards
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 40vw;
    object-fit: contain;
    min-height: 70vh;
}

.card_head
{
    color: rgb(0, 132, 255);
}

.head
{
    text-align: center !important;
}

.card_img
{
    height: 60%;
    width: 100%;
}

.contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form{
    margin-top: 30px;
    border: solid 2px rgb(0, 132, 255);;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
    /* align-items: center; */
}

.contact form .inputs
{
    padding: 10px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    outline: none;
    border: none;
    border-bottom: solid 2px rgb(0, 132, 255);;
}

.send_btn
{
    width: 6rem;
    margin: auto;
    margin-top: 30px;

}

.footer
{
    background-color: rgba(0, 0, 0, 0.363);
    color: grey;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.icons img
{
    margin: 0 0 0 10px;
}
.links
{
    margin-left: 5vh;
}
.links li
{
    list-style: none;
    text-decoration: none;
}
.links a
{
    font-size: small;
    color: grey;
    text-decoration: none;
}
.links a:hover{
    color: white;
    transition: 0.4s;
}
.icons
{
    margin-top: 30px;
   text-align: end;
   margin-right: 20vh;
}

@media screen and (max-width: 1032px){
    .port_main{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    
    }
    .btn{
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    .aboutmain{
        grid-template-columns: 1fr;
    }
    .heading{
        font-size: xx-large;
    }
    .img{
        height: 200px;
        width: 200px;
    }
    .prof2{
        font-size: xx-large;

    }
    .skill
    {
        grid-template-columns: 1fr 1fr;
    }
    .left
    {
        width: 100%;
    }
}

@media screen and (max-width: 608px){
    .skill{
        grid-template-columns: 1fr;
    }
    .desc{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .heading{
        text-align: center;
    }
    .prof{

        text-align: center;
    }
    .namediv{
        display: none !important;
    }
    /* .navbar{
        display: block !important;
    } */
    .listitems{
        font-size: small;
    }
    .container{
        height: 63vh;
    }
    .about{
        margin: 20vh 0 0 23px !important;
        /* margin-top: 13vh; */
    }
    .port_main{
        grid-template-columns: 1fr;
    }
    /* .container{
        height: 110vh;
    } */
    .cards{
        max-width: 77%;
    }
    .icons{
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 466px)
{
    .navbar{
        display: none;
        position: sticky;
        top: 10vh;
    }
    .navbar2{
        position: sticky;
         top: 0;
         left: 0;
        display: flex !important;
        justify-content: end;
        /* display: flex; */
        align-items: center;
    }
    .contact form{
        width: 80%;
    }
    .container{
        padding: 0 !important;
        font-size: large !important;
    }
    .left{
        padding: 13px !important;
    }
    
    .cards{
        max-width: 100% !important;
    }
    .details{
        padding: 0px !important;
    }
    .btns{
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 20px;
    }
    .btn{
        width: 100%;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}
@media screen and (max-width: 350px)
{
    .about{
        margin: 0 !important;
    }
}